body {
  font-family: 'Open Sans', regular;
  font-size: 18px;
  background-color: whitesmoke;
  color: black;
  box-sizing: border-box;
  text-align: center;
  margin: 30px 0 0 0;
/*  min-width: 350px;*/
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  padding: 5px 0 5px 0;
  background-color: #7C7C7C
}

main {
  margin: 10px 0 0 0;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

header {
  padding: 45px 0 35px 0;
}

section {
  padding: 0px 0;
  width: 80%;
}

div {
  height: 125px;
  display: flex;
  align-items: center;
  justify-content: center;
}

div:nth-child(even) {
  background-color: #7C7C7C;
}

div:nth-child(odd) {
  background-color: #BDBDBD;
}

#one {
  height: 40px;
}

/*
@media only screen and (min-width: 413px) {
  
}*/
